# Configuración de Base de Datos PostgreSQL
POSTGRES_DB=price_monitor_db
POSTGRES_USER=monitor_user
POSTGRES_PASSWORD=local-dev-password
POSTGRES_PORT=5433

# Configuración del Backend API Spring Boot
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-db:5432/price_monitor_db
SPRING_DATASOURCE_USERNAME=monitor_user
SPRING_DATASOURCE_PASSWORD=local-dev-password
SERVER_PORT=8080
BACKEND_PORT=8085

# Configuración del Scraper Python
BACKEND_API_URL=http://backend-api:8080/api/v1/etl/ingest
API_KEY=local-dev-api-key
HEADLESS_SCRAPE=True
